.mb0{margin-bottom: 0px!important;}
.mt0{margin-top: 0px!important;}
.mb10{margin-bottom: 10px!important;}
.ml0{margin-left: 0px!important;}
.mr0{margin-right: 0px!important;}
.mg0{margin: 0px!important;}
.mt10{margin-top: 10px!important;}
.ml25{margin-left: 25px;}

html{
    /*height: 100%;*/
    background-image: url(../images/form_bg.png);
}
body{
    height: 100%;
   
}
.back_btn{
	position: absolute;
    right: 58px;
    top: 30px;
    font-size: 23px;
    z-index: 9999;
    cursor: pointer;
}
.build-line{
    margin-left: -40px;
    margin-right: -40px;
    border-top: 1px solid #C3C9D0;
    border-bottom: 1px solid #e9e9e9;
}
#target {
    margin: 0 10px 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#target .component{
	cursor: pointer;
    padding-top: 15px;
	padding-bottom: 15px;
	position: relative;
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    float: left;
}
.clear{
    clear:both;
}
#source {
	min-height: 500px;
}
/*title*/
.form-title{
    font-family: inherit;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: #222;
    padding: 20px 0 10px;
    margin: 0;
}
.form-describe{
   font-family: inherit;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    color: #222;
    margin: 0 0 11px;
}
.clearfix{
	margin-top: 20px;
}
/*左边部门*/
.container{
    position: relative;
    width: 100%;
    box-sizing: border-box;
    background-image: url(../images/form_bg.png);
    
}
.container .form_build{
    background-color: rgba(255, 255, 255, 0.8);
    width: 780px;
    border-width: 0;
    border-color: rgb(106, 106, 106);
    margin: auto;
    margin-top: 3%;
    padding: 40px 40px 60px 40px;
    background-color: #f8f8f6;
    padding-top: 20px;
}
.form_build .title{
    height: 40px;
    background-color: #6A6A6A;
    width: 860px;
    margin-left: -40px;
    margin-top: -20px;
    position: relative;
}
.form_build .title .import_info_btn{
    position: absolute;
    right: 14px;
    top: 6px;
    display: block;
    background-color:#f8f8f6;
    color: #222222;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.container .form_titlename{
    width: 100%;
    height: 40px;
    margin-top: 15px;
    box-sizing: border-box;
    margin-top: 0px;
}
.container .form_titlename_label{
	text-align: left;
    margin-bottom: 5px;
    margin-top: 13px;
    padding-left: 4px;
}
/*表单的提交按钮*/
.button-group{
    text-align: center;
    padding-top: 20px;
}
.button_component{
	height: 60px;
    cursor: pointer;
   	display: inline-block;
    margin-top: -20px;
    margin-right: 40px;
}
.form_submit_btn{
   padding: 8px 40px;
    border: none;
    border-radius: 4px;
    margin-top: 12px;
    background-color: #6A6A6A;
    color: white;
}
/*表单的暂存按钮*/
.temporary_component{
    height: 60px;
    cursor: pointer;
    display: inline-block;
    margin-top: -20px;
}
.form_temporary_btn{
    padding: 8px 40px;
    border: none;
    border-radius: 4px;
    margin-top: 12px;
    background-color: #6A6A6A;
    color: white;
}
/*返回编辑*/
.back-edit{
    position: fixed;
    top: 15px;
    right: 66px;
    display: inline-block;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    z-index: 99999999;
    background: #fff;
    color: #222;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    opacity: 0.7;
    cursor: pointer;
}
.back-edit:hover{
    opacity: 1;
}
#icon-back-edit{
    font-size: 26px;
    margin-top: 3px;
}
.back-tag{
    top: 55px;
    right: 45px;
    width:75px;
    height:32px;
    background: #6A6A6A;
    position:fixed;
    z-index: 99999999;
    color: #fff;
    text-align: center;
    vertical-align:middle;
    line-height: 32px;
    border-radius: 3px;
    font-size: 12px;
    display: none;
}
.back-tag em{
    display:block;
    border-width:10px;
    position:absolute;
    bottom:32px;
    left:28px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #6A6A6A;
    font-size:0;
    line-height:0;
}
/*返回编辑*/
.publish-form{
    position: fixed;
    top: 15px;
    right: 35px;
    display: inline-block;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    z-index: 99999999;
    background: #fff;
    color: #222;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    opacity: 0.7;
    cursor: pointer;
}
.publish-form:hover{
    opacity: 1;
}
#icon-publish-form{
    font-size: 26px;
    margin-top: 3px;
}
.publish-tag{
    top: 55px;
    right: 15px;
    width:75px;
    height:32px;
    background: #6A6A6A;
    position:fixed;
    z-index: 99999999;
    color: #fff;
    text-align: center;
    vertical-align:middle;
    line-height: 32px;
    border-radius: 3px;
    font-size: 12px;
    display: none;
}
.publish-tag em{
    display:block;
    border-width:10px;
    position:absolute;
    bottom:32px;
    left:28px;
    border-style: dashed dashed solid;
    border-color: transparent transparent #6A6A6A;
    font-size:0;
    line-height:0;
}
.modal-body{overflow: initial;}
#valiteModal .modal-body,#dialog_delete .modal-body{padding:30px 15px;}
.modal .txt_tip{font-size:14px;color:#666;line-height: 24px;word-wrap: break-word;width:100%; display: block;padding-left: 34px;}
.modal .icon_warning{ margin-right: 10px;float: left; }

/*操作成功失败提示*/
.result_tip{ position: fixed; z-index: 99999999;top: 0;width: 100%;height: 0;display: none;} 
.result_tip .inner_content {position: fixed;height: 0; text-align: center;top: 80px;width: 100%;  z-index: 99999999; font-size: 14px;-webkit-animation: fade-show .3s;animation: fade-show .3s;}
.result_tip  .success_tip,.result_tip .fail_tip{padding: 13px 40px;display: inline-block;border-radius: 3px;}
.result_tip  .success_tip{background: #d4f0df; color:#1da653;;}
.result_tip .fail_tip{background: #ffdfe0; color:#fb3a3a}
.result_tip .icon_success,.result_tip .icon_fail{ width:24px; height: 24px; display: inline-block; margin-right: 6px; vertical-align: -7px; background-repeat: no-repeat}
.result_tip .icon_success{background: url("../images/icon_success.png");}
.result_tip .icon_fail{background: url("../images/icon_fail.png");}

/*加载图标*/
.mask{ position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.3); left:0; top:0;z-index:9999999;display: none;}
.loadbox{ padding:40px; background:#fff; border-radius: 3px; margin:0 auto; position:absolute; top:20%; left:50%; margin-left:-150px;}
.loadtxt{ font-size:16px;padding:12px 10px; color:#000}
.loadbox .fa-spinner{ margin-right:10px; font-size:20px; color:#666; vertical-align:middle}