<div class="component checkbox_template"  data-type="checkbox" id="component_{{:textInputNum}}" data-minlength="" data-maxlength="" data-required="false">
  <label class="control-label component_title" >多项选择</label><span class='checkbox_select_num'></span>
    <div class='checkbox_list ml25'>
	  	<div class="checkbox">
			 <label>
			    <input class="remove-disabled" type="checkbox" name="component_{{:textInputNum}}"  value="选项" disabled>
			   	<span>选项</span> 
			 </label>
			</div>
			<div class="checkbox">
			 <label>
			    <input class="remove-disabled" type="checkbox" name="component_{{:textInputNum}}"  value="选项" disabled>
			   	<span>选项</span> 
			 </label>
			</div>
			<div class="checkbox">
			 <label>
			    <input class="remove-disabled" type="checkbox" name="component_{{:textInputNum}}"  value="选项" disabled>
			   	<span>选项</span> 
			 </label>
			</div>
	</div>
  <div  class="delete_btn"  data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>