<div class="component"  data-type="date" id="component_{{:textInputNum}}" data-componentName="日期" data-dateDefaultValue="" data-dateStartValue=""  data-dateEndValue="" data-required=false data-errorContent="" data-width=""data-newRow=false>
  <div>
    <div class="icons"><i id="icon-width" class=""></i></div>
    <label class="control-label" id="componentName_{{:textInputNum}}" data-afterContent="">日期</label><label class="required_red" style="display: none">*</label>
  </div>
  <div class="componentControl">
    <i id="icon-date" class="fa fa-calendar"></i>
    <input class="remove-disabled" id="componentDate_{{:textInputNum}}" name="componentDate_{{:textInputNum}}" type="text" data-type="datePicker_{{:textInputNum}}" placeholder="" value="" disabled="disabled" style="border-left-width: 25px"/>
  </div>
  <div class="delete_btn" data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>