<div class="component dropdowm_template"  data-type="dropdown"  id="component_{{:textInputNum}}" data-default-selected="" data-required="false" data-width=''>
  <label class="control-label component_title" >下拉框</label>
	<div class="dropdown ml25">
	  <button class="btn btn-default dropdown-toggle component_dropdownbtn remove-disabled" type="button" id="component_dropdownbtn{{:textInputNum}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" disabled>请选择</button>
	  <ul class="dropdown-menu" aria-labelledby="component_dropdownbtn{{:textInputNum}}">
	  	<li class='dropdown_item_el component_dropdownbtn_el dropdown_item_default'>请选择</li>
	    <li class='dropdown_item dropdown_item_el component_dropdownbtn_el'>选项</li>
	    <li class='dropdown_item dropdown_item_el component_dropdownbtn_el'>选项</li>
	    <li class='dropdown_item dropdown_item_el component_dropdownbtn_el'>选项</li>
	  </ul>
	</div>
  <div  class="delete_btn"  data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>