<div class="component"  data-type="email" id="component_{{:textInputNum}}" data-componentName="邮箱" data-required=false data-errorContent="" data-width="" data-newRow=false>
  <div>
    <div class="icons"><i id="icon-width" class=""></i></div>
    <label class="control-label" id="componentName_{{:textInputNum}}" data-afterContent="">邮箱</label><label class="required_red" style="display: none">*</label>
  </div>
  <div class="componentControl">
    <i id="icon-number" class="fa fa-envelope"></i>
    <input class="remove-disabled" style="border-left-width: 25px" id="componentIndex_{{:textInputNum}}" name="componentIndex_{{:textInputNum}}" type="text" placeholder="" value="" disabled="disabled" maxlength="200"/>
  </div>
  <div class="delete_btn" data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>