<div class="component"  data-type="fieldtext" id="component_{{:textInputNum}}" data-componentName="{{:title}}"  data-id="{{:id}}"  field-dataid="{{:fielddataid}}"     data-required='true'>
    <div>
        <div class="icons"><i id="icon-width" class=""></i></div>
        <label class="control-label component_title" id="componentName_{{:textInputNum}}" data-afterContent="">{{:title}}</label><label class="required_red" style="display: inline-block">*</label>
    </div>
    <div class="componentControl">
        <input class="remove-disabled" id="componentIndex_{{:textInputNum}}" name="componentIndex_{{:textInputNum}}" type="text" placeholder="" value="" disabled="disabled" />
    </div>
    <div class="delete_btn" data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>