<div class="component"  data-type="groupTitle" id="component_{{:textInputNum}}" data-componentName="分类标题" data-value="" data-backgroundColor="#6A6A6A" data-borderTopColorValue="#222" data-borderTopWidthValue="3px" data-opacity="0.3"data-fontFamily="" data-fontSize="" data-fontWeight="bold" data-fontColor="#fff">
  <div>
    <div class="groupTitle" id="groupTitle_{{:textInputNum}}">分类标题</div>
  </div>
  <div class="delete_btn" data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>