<div class="component"  data-type="number" id="component_{{:textInputNum}}" data-componentName="数字" data-value="" data-required=false data-minLength="" data-maxLength="" data-errorContent="" data-width="" data-newRow=false>
  <div>
    <div class="icons"><i id="icon-width" class=""></i></div>
    <label class="control-label" id="componentName_{{:textInputNum}}" data-afterContent="">数字</label><label class="required_red" style="display: none">*</label>
  </div>
  <div class="componentControl">
    <i id="icon-number" class="fa fa-sort-numeric-asc"></i>
    <input class="remove-disabled" style="border-left-width: 25px" id="componentIndex_{{:textInputNum}}" name="componentIndex_{{:textInputNum}}" type="number" placeholder="" value="" disabled="disabled" maxlength="200"/>
  </div>
  <div class="delete_btn" data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>