<div class="component radio_template"  data-type="radio"  id="component_{{:textInputNum}}" data-required="false">
  <label class="control-label component_title" >单项选择</label>
    <div class='radio_list ml25'>
	  	<div class="radio">
			 <label>
			    <input class="remove-disabled" type="radio" name="component_{{:textInputNum}}"  value="选项" disabled>
			   	<span>选项</span> 
			 </label>
			</div>
			<div class="radio">
			 <label>
			    <input class="remove-disabled" type="radio" name="component_{{:textInputNum}}"  value="选项" disabled>
			   	<span>选项</span> 
			 </label>
			</div>
			<div class="radio">
			 <label>
			    <input class="remove-disabled" type="radio" name="component_{{:textInputNum}}"  value="选项" disabled>
			   	<span>选项</span> 
			 </label>
			</div>
	</div>
  <div  class="delete_btn"  data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>
