<div class="component table_template"  data-type="table" id="component_{{:textInputNum}}"  data-required="false">
	<label class="control-label component_title" >子表单</label>
	<table class="v-table">
	  <thead>
	    <tr>
	      <th></th>
	      <th class='col_item'>项目</th>
	      <th class='col_item'>项目</th>
	      <th class='col_item'>项目</th>
	    </tr>
	  </thead>
	  <tr class='row_item'>
	  	<td class='row_title'>题目</td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  </tr>
	  <tr class='row_item'>
	  	<td class='row_title'>题目</td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  </tr>
	  <tr class='row_item'>
	  	<td class='row_title'>题目</td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  	<td><input class="remove-disabled" type="text" disabled /></td>
	  </tr>
	</table>
	<div  class="delete_btn"  data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>