<div class="component"  data-type="textarea" id="component_{{:textInputNum}}" data-componentName="多行文本框" data-value="" data-required=false data-minLength="" data-maxLength="" data-errorContent="" data-width="" data-newRow=false>
  <div>
    <div class="icons"><i id="icon-width" class=""></i></div>
    <label class="control-label" id="componentName_{{:textInputNum}}" data-afterContent="">多行文本框</label><label class="required_red" style="display: none">*</label>
  </div>
  <div class="componentControl">
    <textarea class="remove-disabled" id="componentIndex_{{:textInputNum}}" name="componentIndex_{{:textInputNum}}" placeholder="" value="" disabled="disabled" maxlength="200"></textarea>
  </div>
  <div class="delete_btn" data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>