<div class="component"  data-type="text" id="component_{{:textInputNum}}" data-componentName="单行文本框" data-value="" data-required=false data-minLength="" data-maxLength="" data-errorContent="" data-width="" data-newRow=false>
  <div>
    <div class="icons"><i id="icon-width" class=""></i></div>
    <label class="control-label" id="componentName_{{:textInputNum}}" data-afterContent="">单行文本框</label><label class="required_red" style="display: none">*</label>
  </div>
  <div class="componentControl">
    <input class="remove-disabled" id="componentIndex_{{:textInputNum}}" name="componentIndex_{{:textInputNum}}" type="text" placeholder="" value="" disabled="disabled" maxlength="200" />
  </div>
  <div class="delete_btn" data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>