<div class="component uploadimg_template"  data-type="uploadimg"  id="component_{{:textInputNum}}" data-required="false">
	<label class="control-label component_title" >上传图片</label>
	<div class='uploadimg_box ml25'>
		<div class='fiel_box'>
			<input type="file"  class="remove-disabled" id="componentuploadimginput_{{:textInputNum}}" data-src='' disabled/>
		</div>	
		<i class="fa fa-upload" aria-hidden="true"></i>
		<p>请选择一张图片上传</p>
	</div>
	<div class="uploadimg_rander ml25">
		<img src=""  />
		<p class='uploadimg_delete'>删除</p>
		<p class='uploadimg_name'></p>
	</div>
	<div  class="delete_btn"  data-id="textComponent_{{:textInputNum}}" data-toggle="tooltip" data-placement="bottom" title="删除"><i class="fa fa-trash"></i></div>
</div>	
