
.error_tip{
	color: #FF3824;
	display: none;
}
.radio_component_edit .optionlist,.checkbox_component_edit .optionlist,.dropdown_component_edit .optionlist{
	list-style: none;
}
.radio_component_edit .optionlist li,.checkbox_component_edit .optionlist li,.dropdown_component_edit .optionlist li{
	position: relative;
	width: 290px;
	height: 30px;
}
.radio_component_edit input[type='radio'],.checkbox_component_edit input[name='checked_edit'],
.dropdown_component_edit input[type='radio']{
    width: 16px;
    height: 16px;
   position: absolute;
   top: 4px;
   left: 2px;
}
.radio_component_edit .optionlist input[type='text'],.checkbox_component_edit .optionlist input[type='text'],
.dropdown_component_edit .optionlist input[type='text']
{
   vertical-align: middle;
   margin: 0px;
   width: 150px;
   position: absolute;
   left: 27px;
}

.radio_component_edit .radio_add_option,.checkbox_component_edit .checked_add_option,
.dropdown_component_edit .radio_add_option{
    font-size: 14px;
    vertical-align: middle;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    left: 194px;
    top: 4px;
}
.radio_component_edit .radio_add_option:hover,.checkbox_component_edit .checked_add_option:hover,
.dropdown_component_edit .radio_add_option:hover
{
	color: #008be6;
}
.radio_component_edit .radio_minus_option,.checkbox_component_edit .checked_minus_option,
.dropdown_component_edit .radio_minus_option
{
	font-size: 14px;
    vertical-align: middle;
    padding: 4px;
    cursor: pointer;
   position: absolute;
   left: 225px;
   top: 4px;
}
.radio_component_edit .radio_minus_option:hover,.checkbox_component_edit .checked_minus_option:hover,
.dropdown_component_edit .radio_minus_option:hover
{
	color: #FF3824;
}
.optionlist .error_tip{
    position: absolute;
    top: 29px;
    left: 30px;
}

/*必填*/
.required_label:after{
	content: '*'!important;
    color: #FF3824!important;
    margin-top: 7px;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
}
/*排列方式*/
.aline_box span{
	float: left;
	line-height: 25px;
}
.aline_tab{
	float: left;
	margin-left: 15px;
}
.aline_tab .portrait_btn{
	float: left;
    width: 60px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    cursor: pointer;
}
.aline_tab .horizontal_btn{
	float: left;
    width: 60px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    background-color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.aline_tab .select_aline{
	background-color: #009AFF;
	color: white;
}
.horizontal_array{
	display: inline-block;
    margin-right: 10px;
}
/*checkbox*/
.checkbox_select_num{
    font-size: 14px;
    margin-left: 10px;
}
/*dropdown下拉框*/
.dropdowm_template .dropdown-menu{
	font-size: 14px;
}
.dropdowm_template .dropdown-menu .dropdown_item,.dropdowm_template .dropdown-menu .dropdown_item_default{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdowm_template .dropdown-menu .dropdown_item:hover,.dropdowm_template .dropdown-menu .dropdown_item_default:hover{
	background-color: rgb(245,245,245);
}

.component_dropdownbtn{
	max-width: 150px;
	min-width: 100px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	padding-right: 20px;
	text-align: left;
}
.component_dropdownbtn:after{
	content: "";
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    position: absolute;
    right: 7px;
    top: 12px;  
}
#target .component_dropdownbtn{
	width: 247px;
    max-width: 247px;
}
/**上传图片**/
.uploadimg_box,.uploadfile_box{
    width: 180px;
    height: 48px;
    border: 1px dashed #999999;
    cursor: pointer;
    position: relative;
}
.uploadimg_box .fiel_box,.uploadfile_box .fiel_box{
    margin: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 33;
}
.uploadimg_box .fiel_box input,.uploadfile_box .fiel_box input{
    width: 100%;
    height: 48px;
    opacity: 0;
    cursor: pointer;
}
.uploadimg_box .fa,.uploadfile_box .fa{
    position: absolute;
    font-size: 22px;
    text-align: center;
    top: 6px;
    left: 70px;
}
.uploadimg_box p,.uploadfile_box p{
    margin: 0px;
    text-align: center;
    margin-top: 27px;
    font-size: 12px;
}
.uploadimg_template .uploadimg_rander,.uploadfile_template .uploadfile_rander {
	width: 120px;
	height: 90px;
	border: 1px dashed #ddd;
	margin-top: 10px;
	text-align: center;
	position: relative;
	display: none;
	margin-bottom: 15px;
}
.uploadimg_template .uploadimg_name,.uploadfile_template .uploadfile_name{
    position: absolute;
    bottom: -22px;
    margin: 0px;
    width: 120px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
    font-size: 12px;
}
.uploadimg_template .uploadimg_rander img,.uploadfile_template .uploadfile_rander img{
	max-width: 100%;
	max-height: 100%;
}
.uploadimg_template .uploadimg_rander .uploadimg_delete,.uploadfile_template .uploadfile_rander .uploadfile_delete{
    position: absolute;
    margin: 0px;
    right: -36px;
    bottom: 0px;
    cursor: pointer;
    color: red;
}
/**两级下拉框**/
.cascadedropdown_template .component_cascadedropdown{
	width: 160px;
	max-width: 160px;
	min-width: 100px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	padding-right: 20px;
	text-align: left;
}
.cascadedropdown_template .cascadedropdown,.cascadedropdown_template .cascadedropdown_child{
    width: 152px;
    position: relative;
}
.cascadedropdown_template .cascadedropdown_child{
    margin-left: 192px;
    margin-top: -30px;
}
.cascadedropdown_template .cascadedropdown:after{
	content: "";
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    position: absolute;
    right: 7px;
    top: 12px; 
}
.cascadedropdown_template .cascadedropdown_child:after{
	content: "";
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
    border-right: 5px solid transparent;
    position: absolute;
    right: 7px;
    top: 12px; 
}
.cascadedropdown_template .dropdown-menu{
	font-size: 14px;
}
.cascadedropdown_template .dropdown-menu .dropdown_item,.cascadedropdown_template .dropdown-menu .dropdown_item_default{
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.cascadedropdown_template .dropdown-menu .dropdown_item:hover,.cascadedropdown_template .dropdown-menu .dropdown_item_default:hover{
	background-color: rgb(245,245,245);
}
.cascadedropdown_child_content{
	list-style: none;
	margin: 0px;
	display: none;
}
.cascadedropdown_template .child_default_childitem{
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.cascadedropdown_template .child_default_childitem:hover{
	background-color: rgb(245,245,245);
}

/*两级下拉框编辑*/
.cascadedropdown_component_edit .cascade_item{
    padding: 6px 4px;
    border: 1px solid #E6E6E6;
    background-color: white;
    margin-bottom: 5px;
}
.cascadedropdown_component_edit .parent_choice_value{
    display: inline-block;
    width: 215px;
    box-sizing: border-box;
    padding-left: 10px;
    cursor: pointer;
}
.cascadedropdown_component_edit .parent_add_option{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
.cascadedropdown_component_edit .parent_minus_option{
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}
.cascadedropdown_component_edit .optionlist_child{
	list-style: none;
	margin: 0px;
}
.cascadedropdown_component_edit .optionlist_child li{
	margin-bottom: 5px;
}
.cascadedropdown_component_edit .child_option_value{
    width: 180px;
    margin-left: 26px;
    margin-bottom: 0px;
}
.cascadedropdown_component_edit .error_tip{
    position: relative;
    top: 0px;
    margin: 0px;
    width: 113px;
}
.cascadedropdown_component_edit .child_add_option{
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    position: relative;
    top: 3px;
}
.cascadedropdown_component_edit .child_minus_option{
    font-size: 14px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    position: relative;
    top: 3px;
}
.cascadedropdown_component_edit .optionlist_child{
	display: none;
}
.cascadedropdown_component_edit  .parent_option_value{
	display: none;
	margin: 0px;
}
.cascadedropdown_component_edit .expand .optionlist_parent{
	margin-bottom: 10px;
}
.cascadedropdown_component_edit .expand .parent_choice_value{
	display: none;
}
.cascadedropdown_component_edit .expand .optionlist_child{
	display: block;
}
.cascadedropdown_component_edit .expand .parent_option_value{
	display: inline-block;
}
.cascadedropdown_component_edit .optionlist_parent{
	position: relative;
}
.cascadedropdown_component_edit .optionlist_parent .error_tip{
	left: 0px;
}
.cascadedropdown_component_edit .parent_add_option:hover,.cascadedropdown_component_edit .child_add_option:hover{
	color: #008be6;
}
.cascadedropdown_component_edit .parent_minus_option:hover,.cascadedropdown_component_edit .child_minus_option:hover{
	color: #FF3824;
}
.cascadedropdown_component_edit .parent_prompt,.cascadedropdown_component_edit .child_prompt{
	text-align: left;
}
/*表格子表单*/
.table_template .v-table{
    background-color: rgba(255,255,255,0.65);
    cursor: pointer;
    margin-bottom: 0;
    border: 1px solid #D9D9D9;
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: break-word;
    font-size: 12px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0;
}
.table_template .v-table thead{
    font-size: 12px;
    font-weight: normal;
    background: #F1F1F1;
}
.table_template .v-table th:first-child{
	font-weight: normal;
    color: #222;
    text-align: left;
    min-width: 50px;
    vertical-align: middle;
    word-wrap: break-word;
    padding-top: 6px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border: 1px solid #D9D9D9;
}
.table_template .v-table th{
	font-weight: normal;
    color: #222;
    word-wrap: break-word;
    padding-top: 6px;
    padding-bottom: 5px;
    text-align: center;
    border-top: 0;
    border-bottom-width: 1px;
    border: 1px solid #D9D9D9;
    vertical-align: bottom;
}

.table_template .v-table td:first-child{
    padding: 6px;
    text-align: left;
    min-width: 50px;
    vertical-align: middle;
    border: 1px solid #D9D9D9;
}
.table_template .v-table td{
	    padding: 0;
        vertical-align: middle;
        text-align: center;
        border: 1px solid #D9D9D9;
}
.table_template .v-table td input[type=text]{
	border: 0;
    width: 100%;
    max-width: none;
    height: 33px;
    box-shadow: none;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: rgba(255,255,255,0.65);
    opacity: 1;
    line-height: 33px;
    vertical-align: top;
    padding: 0 6px;
    font-size: 1em;
    font-weight: normal;
    color: #222222;
   /* background: #FFF;*/
    border-radius: 2px;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
    box-sizing: border-box;
}
/*子表单编辑部分*/
.row_list,.col_list{
	list-style: none;
	margin: 0px;
}
.row_list li,.col_list li{
    position: relative;
    width: 290px;
    height: 30px;
}
.row_list input,.col_list input{
	vertical-align: middle;
    margin: 0px;
    width: 175px;
    position: absolute;
    left: 0px;
}
.row_list .row_add_option,.col_list .col_add_option{
    font-size: 14px;
    vertical-align: middle;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    left: 194px;
    top: 4px;
}
.row_list .row_minus_option,.col_list .col_minus_option{
    font-size: 14px;
    vertical-align: middle;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    left: 225px;
    top: 4px;
}
.row_list .row_add_option:hover,.col_list .col_add_option:hover{
	color: #009AFF;
}
.row_list .row_minus_option:hover,.col_list .col_minus_option:hover{
	 color: #FF3824;;
}
.row_list .error_tip,.col_list .error_tip{
    position: absolute;
    top: 29px;
    left: 4px;
}
